.content-container {

    .list-blog {
        height: calc(100vh - 160px);
        padding: 0 120px;
        .blog{
            padding: 40px;
            width:  100%;
            border-bottom: 2px solid black;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .footer {
        border-top: 2px solid black;
        height: 100px;
        padding: 0 120px;
        .footer-logo {
            border: 1px solid black;
            height: 60px;
            width: 45px;
            display: flex;
            align-items: center;
            justify-items: center;
        }
        .footer-content {
            padding-left: 15px;
            .footer-header {
                font-weight: 700;
                font-size: 28px;
            }
        }
    }
}